ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li span:hover {
  background-color: #111;
}

.modalbackground {
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,0.5);
  z-index:100;
}

.formuser {
	width: 100%;
	max-width: 300px;
	margin: 10% auto;
	padding: 2%;
	background: #fff;
	border-radius: 5px;
}

#buttonForm {
  margin: 5px 5px 5px 23%;
}

#formElement {
  margin: 5px;
}
